@font-face {
  font-family: "iconfont"; /* Project id 3412927 */
  src: url('iconfont.woff2?t=1654326187328') format('woff2'),
       url('iconfont.woff?t=1654326187328') format('woff'),
       url('iconfont.ttf?t=1654326187328') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousu:before {
  content: "\e629";
}

.icon-shoucang1:before {
  content: "\e658";
}

.icon-pinglun:before {
  content: "\e628";
}

.icon-shipinbofangliang:before {
  content: "\e604";
}

.icon-31fanhui1:before {
  content: "\e603";
}

.icon-yanzhengyanzhengma:before {
  content: "\e624";
}

.icon-erweima:before {
  content: "\e642";
}

.icon-shoujihao:before {
  content: "\e639";
}

.icon-mima:before {
  content: "\e8b2";
}

.icon-xiazai:before {
  content: "\e601";
}

.icon-31xiala:before {
  content: "\e602";
}

.icon-fenxiang:before {
  content: "\e8b0";
}

.icon-shanchu:before {
  content: "\e74b";
}

.icon-danquxunhuan:before {
  content: "\e66d";
}

.icon-suiji:before {
  content: "\e71f";
}

.icon-hanhan-01-01:before {
  content: "\e6af";
}

.icon-tianjia:before {
  content: "\e622";
}

.icon-shoucang:before {
  content: "\e627";
}

.icon-liebiao:before {
  content: "\e600";
}

.icon-shangyishoushangyige:before {
  content: "\e78a";
}

.icon-xiayigexiayishou:before {
  content: "\e7a5";
}

.icon-weibiaoti518:before {
  content: "\e615";
}

.icon-weibiaoti519:before {
  content: "\e616";
}

.icon-18erji-2:before {
  content: "\e688";
}

.icon-youbian:before {
  content: "\e79a";
}

